/**
 * @author: Brent Houghton, © 2009
 * 
 * This CSS stylesheet contains all the visual styles specific to the donation manager page.
 * 
 */


body
{
	background-image: url(../images/background-gradient-1.png);
	background-repeat: repeat-x;
}


/* This sections contains styles for the popup windows used by various processes on the page to gather input */

div.popupWindow
{
	text-align: center;
}

div.popupWindow div.controls
{
	margin: 15px;
	border: 2px solid #D3D3D3; /* LightGray */
	border-radius: 8px;
	padding: 15px;
}

div.popupWindow div.controls .title
{
	margin-bottom: 15px;
}

div.popupWindow div.controls > div
{
	margin: 10px;
}

div.popupWindow div.controls label
{
	margin: 5px;
}

div.popupWindow div.controls .indent
{
	margin-left: 40px;
}

/* these styles are applied when an input is disabled */

div.popupWindow div.controls div.disabled > p
{
	padding: 5px;
	margin: 0px;
	color: lightgray;
}
div.popupWindow div.controls div.disabled > div
{
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	padding: 5px;
	margin: 0px;
}


/* This sections contains styles for the popup window that guides the user through setting up the database */

div#databaseSetupPopup div.controls
{
	text-align: left;
}

div#databaseSetupPopup div.controls label > div
{
	font-size: 90%;
	color: #696969; /* DimGray */
	margin: 5px;
	margin-left: 30px;
}

div#databaseSetupPopup > button
{
	margin: 15px;
}


div#databaseSetupResultPopup > #databaseSetupResultsDisplay
{
	margin: 15px;
	border: 1px solid black;
	padding: 15px;
	text-align: left;
}

div#databaseSetupResultPopup > button
{
	margin: 15px;
}


/* This sections contains styles for the popup window allowing the user to create new item categories */

div#categoryCreationPopup > div
{
	margin: 30px;
}

div#categoryCreationPopup > div.newCategoryTypeSelection
{
	text-align: left;
}

div#categoryCreationPopup > div.newCategoryTypeSelection > div
{
	margin: 15px;
}

div#categoryCreationPopup div.inputElement
{
	display: inline-block;
}

div#categoryCreationPopup div.inputElement > p
{
	padding: 5px;
	margin: 0px;
}

div#categoryCreationPopup div.inputElement > div
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding: 5px;
	margin: 0px;
}


/* This sections contains styles for the popup window allowing the user to create new items */

div#itemCreationPopup > div
{
	margin: 30px;
}

div#itemCreationPopup div.inputElement
{
	display: inline-block;
	width: 250px;
}

div#itemCreationPopup div.inputElement input
{
	width: 95%;	
}

div#itemCreationPopup div.inputElement > p
{
	padding: 5px;
	margin: 0px;
}

div#itemCreationPopup div.inputElement > div
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	padding: 5px;
	margin: 0px;
}


/* This sections contains styles for the popup window that allows the user to edit IPN processor options */

div#programOptionsPopup div.controls
{
	text-align: left;
}

div#programOptionsPopup div.controls label > div
{
	font-size: 90%;
	color: #696969; /* DimGray */
	margin: 5px;
	margin-left: 30px;
}

div#programOptionsPopup > button
{
	margin: 15px;
}


div#programOptionsPopup #programOptions_databaseSetupResultsDisplay
{
	margin: 15px;
	border: 1px solid black;
	padding: 15px;
	text-align: left;
}

div#programOptionsPopup > button
{
	margin: 15px;
}


/* This sections contains styles for the popup window allowing the user to view IPNs */

div#IPNLogPopup div.controls > *
{
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

div#IPNLogPopup div.controls > input
{
	width: 2em;
}

div#IPNLogPopup div.IPNDisplay
{
	display: none;
	text-align: left;
	margin: 15px;
	border: 2px solid #D3D3D3; /* LightGray */
	border-radius: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

div#IPNLogPopup div.visible
{
	display: block;
}

div#IPNLogPopup div.IPNDisplay > p
{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* this element is used to store the IPN's index number in the database */
div#IPNLogPopup div.IPNDisplay .IPNDBIndex, div#IPNLogPopup div.IPNDisplay .IPNDisplayIndex
{
	display: none;
}

#IPNLogPopup div.IPNDisplay .itemName, #IPNLogPopup div.IPNDisplay .amount, #IPNLogPopup div.IPNDisplay .transactionType, #IPNLogPopup div.IPNDisplay .timestamp
{
	color: #7092be; /* a light blue */
}

div#IPNLogPopup div.IPNDisplay .IPNText
{
	margin-left: 30px;
	margin-right: 30px;
	font-size: 70%;
}


/* This section contains styles for the popup window allowing the user to view IPN processor errors. */

div#errorLogPopup div.controls > *
{
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

div#errorLogPopup div.controls > input
{
	width: 2em;
}

div#errorLogPopup div.errorDisplay
{
	display: none;
	text-align: left;
	margin: 15px;
	border: 2px solid #D3D3D3; /* LightGray */
	border-radius: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

div#errorLogPopup div.visible
{
	display: block;
}

div#errorLogPopup div.errorDisplay > p
{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* this element is used to store the error's index number in the database */
div#errorLogPopup div.errorDisplay .errorDBIndex, div#errorLogPopup div.errorDisplay .errorDisplayIndex
{
	display: none;
}

div#errorLogPopup div.errorDisplay .errorMessage, div#errorLogPopup div.errorDisplay .timestamp
{
	color: red;
}

div#errorLogPopup div.errorDisplay .errorIPNText
{
	margin-left: 30px;
	margin-right: 30px;
	font-size: 70%;
}


/* This section contains styles for the popup window allowing the user to preview an item's donation counter. */

#counterPreviewPopup .informationHeading
{
	margin-bottom: 1px;
}

#counterPreviewPopup .informationDisplay
{
	margin-top: 10px;
	margin-bottom: 30px;
}

#counterPreviewPopup .informationDisplay > *
{
	font-size: 75%;
	padding: 12px;
	padding-left: 40px;
	padding-right: 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#counterPreviewPopup #counterPreviewPopup_counterImage
{
	margin-top: 15px;
	margin-bottom: 15px;
}




/* the div that contains all controls and displays relating directly to items and item categories */
div#itemControls
{
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 30px;
	height: 600px;
}


/* This section contains styles for the area of the page that displays the item categories */

#itemCategoryDisplay
{
	border: 1px solid #4682B4; /* SteelBlue */
	display: inline-block;
	height: 100%;
	width: 18%;
	float: left;
}

#itemCategoryDisplay > .title
{
	height: 6%;
}

/* this is the div that contains the list of item categories */
#itemCategoryDisplay > div
{
	margin: 5px;
	padding: 3px;
	border: 1px solid #4682B4; /* SteelBlue */
	background-color: #F0F8FF; /* AliceBlue */
	height: 80%;
	overflow-x: hidden;
	overflow-y: auto;
}

/* this p element contains the "No categories set up yet" message */
#itemCategoryDisplay > div > p
{
	margin: 10px;
}

/* these divs each contain a single item category's information */
#itemCategoryDisplay > div > div
{
	padding: 10px;
	border: 0px;
	/* both of these cursor declarations must be here in this order for the hand cursor to render in both IE and non-IE browsers */
	cursor: pointer;
	cursor: hand;
}

#itemCategoryDisplay > div > div:hover
{
	padding: 9px;
	margin: 0px;
	background-color: mintcream;
	border: 1px solid black;	
}

/* the item category takes on a special appearance when selected */
#itemCategoryDisplay > div > div.selected
{
	padding: 9px;
	margin: 0px;
	background-color: white;
	border: 1px solid black;	
}

/* ensures that the selected item category's appearance doesn't change when the mouse hovers over it,
   and changes the cursor to make it clear that clicking a selected item category will not do anything */
#itemCategoryDisplay > div > div.selected:hover
{
	cursor: default;	
}

#itemCategoryDisplay > div > div > p
{
	margin: 0px;
}

#itemCategoryDisplay > div > div > p.itemCategoryName
{
	font-weight: bold;
}

#itemCategoryDisplay > div > div > p.itemCategorySubText
{
	font-size: 90%;
	margin-left: 18px;
}

#itemCategoryDisplay > button
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 90%;
	padding: 0px;
}

#itemCategoryDisplay > button > img
{
	margin-right: 10px;
}


/* This section contains styles for the area of the page that shows the list of items belonging to the selected category */

#itemsDisplay
{
	border: 1px solid #4682B4; /* SteelBlue */
	display: inline-block;
	vertical-align: top;
	width: 80%;
	height: 100%;
	float: right;
	position: relative; /* this is needed to position the coverup that hides this
						area until a category is chosen and the table is populated */
}

#itemsDisplay > div#itemsTableCoverup
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	text-align: center;
	z-index: 1;
}

#itemsDisplay > div#itemsTableCoverup > h4
{
	font-size: 110%;
	position: absolute;
	left: 15%;
}

#itemsDisplay > div#itemsTableCoverup > h4
{
	top: 10%;
	vertical-align: top;
}

#itemsDisplay > div#itemsTableCoverup img
{
	vertical-align: text-bottom;
}

#itemsDisplay > .title
{
	text-align: center;
	margin: 15px;
}

#itemsDisplay div.tableScrollHack
{
	margin: 15px;
	display: block;
	height: 82%;
	width: 98%;
	overflow: auto;
}

#itemsDisplay div.showOnlyEnabledItemsContainer
{
	text-align: right;
	margin-right: 30px;
}

#itemsDisplay table
{
	width: 99%;
	border-collapse: collapse;
}

#itemsDisplay th
{
	text-align: center;
}

#itemsDisplay tbody
{
	border: 1px solid #4682B4; /* SteelBlue */
}

#itemsDisplay tbody > tr.light
{
	background-color: white;
}

#itemsDisplay tbody > tr.dark
{
	background-color: #E6E6FA; /* Lavender */
}

#itemsDisplay tbody > tr.lightMaxedOut
{
	background-color: #FFF8DC; /* Cornsilk */
}

#itemsDisplay tbody > tr.darkMaxedOut
{
	background-color: #F0E68C /* Khaki */
}

#itemsDisplay tbody > tr.disabledItem
{
	color: lightgray;
}

#itemsDisplay td
{
	overflow: hidden;
	padding: 0px;
	/* both of these cursor declarations must be here in this order for the hand cursor to render in both IE and non-IE browsers */
	cursor: pointer;
	cursor: hand;
}

#itemsDisplay td + td
{
	border-left: 1px solid black;
}

/* these styles are applied when the contents of a td are being submitted to the server when changing an item property */
#itemsDisplay .submitting
{
	background-color: yellow;
}

#itemsDisplay td > div
{
	margin: 0px;
	padding: 5px;
	display: none;
	height: 100%;
}

#itemsDisplay .itemPropertyValue
{
	display: block;
}

#itemsDisplay .itemPropertyValue > img
{
	display: none;
}

#itemsDisplay .itemPropertyValue > .set
{
	display: inline;
}

#itemsDisplay .itemPropertyValue span
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#itemsDisplay .itemPropertyEditControl
{
	text-align: center;
}

#itemsDisplay .itemPropertyEditControl input
{
	width: 90%;
}

#itemsDisplay td img
{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0px;
}

#itemsDisplay table td.smallColumn
{
	width: 4em;
}

#itemsDisplay table td.centeredColumn
{
	text-align: center;
}

#itemsDisplay table td.createNewItem
{
	text-align: center;
	padding: 5px;
}


/* This section contains styles for the area of the page that contains controls for program-wide options */

div#programOptions
{
	border: 1px solid #4682B4; /* SteelBlue */
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 30px;
	margin-bottom: 15px;
}

div#programOptions > .title
{
	text-align: left;
}

div#programOptions > div
{
	margin-top: 0px;
	margin-bottom: 15px;
}

div#programOptions button, div#programOptions button
{
	font-size: 103%;
}
