/**
 * @author: Brent Houghton, © 2009
 * 
 * This CSS stylesheet contains all the visual styles specific to the login page.
 * 
 */


body
{
	background-image: url(../images/background-gradient-2.png);
	background-repeat: repeat-x;
}

#headerImage
{
	margin: 30px;
}

/* Controls visibility of the message informing the user their login credentials were rejected. */
#loginFailedMessage
{
	display: none;
	color: #DC143C;	/* crimson */
}
#loginFailedMessage.visible
{
	display: block;
}

.loginFieldArea
{
	margin: 15px;
}

/* Form styles */

legend
{
	font-weight: bold;
}

fieldset
{
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 700px;
	padding: 30px;
	border-top: 2px solid #DCDCDC; /* gainsboro */
	border-right: 2px solid #A9A9A9; /* darkgray */
	border-left: 2px solid #696969; /* dimgray */
	border-bottom: 2px solid #696969; /* dimgray */
}

.inlineInputGroup
{
	margin-left: 15px;
	margin-right: 15px;
}

.inlineInputGroup label
{
	margin-right: 10px;
}

form .formSubmitButton, .formSubmitButton
{
	margin: 30px;
}
