/**
 * @author: Brent Houghton, © 2009
 * 
 * This CSS stylesheet contains all the visual styles common to all the pages that make up the donation manager web interface.
 * 
 */
 

/* General formatting styles */

.centerJustify {text-align: center}
.leftJustify {text-align: left}
.rightJustify {text-align: right}

.handCursor
{
	/* both of these cursor declarations must be here in this order for the hand cursor to render in both IE and non-IE browsers */
	cursor: pointer;
	cursor: hand;
}

.pointerCursor
{
	cursor: pointer;
}


/* General page layout styles */

body
{
	font-family: Arial;
	text-align: center;
}

/* a heading for each page */
.pageHeading
{
	text-align: left;
	padding: 1px;
	padding-left: 5px;
	border: 0px;
	background-color: #aed6db;
	margin: 0px;
	margin-bottom: 30px;
}

.title
{
	font-size: 1.2em;
	color: black;
	margin: 5px;
}

td:hover
{
	background-color: #FFEFD5; /* PapayaWhip */
}

/* this class styles the main div enclosing all the page content */
body > #pageContent
{
	border: 2px solid black;
	width: 95%;
	min-width: 1200px;	
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
}

/* this class gives links and content marked as interactive a distinct look as a hint to the user */
body a, .interactiveContent
{
	font-family: verdana, times;
	color: lightgray;
	text-decoration: none;
}

body a:visited
{
	font-family: verdana, times;
	color: darkgray;
	text-decoration: none;
}

button
{
	padding: 5px;
}

button > *
{
	vertical-align: middle;
}

button > img
{
	margin: 3px;
	margin-top: 1px;
}

footer
{
	margin: 20px;
	font-size: 75%;
}
